* {
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%; /*1 rem = 10px; 10px/16px = 62.5%*/
}
body {
  font-family: "Open Sans", sans-serif;
}
body input,
body button,
body select {
  outline: none;
}
#body {
  display: none;
}

/*HEADER*/
header {
  background-color: #1d72c1;
  height: 6.9rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  color: white;
  font-size: 1.76rem;
  font-style: italic;
  font-weight: 700;
}
#menu-nav {
  display: flex;
}
#menu-nav li {
  margin-left: 3.42rem;
}
#menu-nav a {
  align-items: center;
  color: #9cc1e3;
  display: flex;
  font-size: 1.4rem;
  height: 6.4rem;
}
#menu-nav a:hover {
  color: white;
}
.item-habilitado {
  color: white !important;
  border-bottom: 0.2rem white solid;
}

/*LOGIN y REGISTRO y FORMULARIO NUEVA COMPAÑIA*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#login,
#registro,
#div-nueva-compania {
  border: 0.3rem solid #0683f9;
  border-radius: 0.65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  margin: 8rem auto 0 auto;
  padding: 3rem;
  width: 50rem;
}
#registro,
#div-nueva-compania {
  margin-top: 3.5rem;
  padding: 3rem 0 3rem 0;
}
#registro {
  display: none;
  margin-bottom: 5rem;
}
#div-nueva-compania {
  margin-bottom: 5rem;
}
#login h2,
#registro h2,
#div-nueva-compania h2 {
  color: #333333;
  font-size: 2rem;
  margin-bottom: 2rem;
}
#login h2 {
  font-size: 3rem;
}
input,
select,
#div-input input {
  border: 0.1rem solid #cccccc;
  border-radius: 0.5rem;
  height: 3.55rem;
  padding-left: 1.55rem;
  width: 23rem;
}
#form-login input::placeholder,
#form-registro input::placeholder {
  font-style: italic;
}
.invalid {
  border-color: #f03738 !important;
}
.invalid::placeholder {
  color: rgb(19, 18, 18);
}
small {
  color: #f03738;
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 1.6rem;
  margin-top: 0.4rem;
}
.small-success {
  color: rgb(9, 112, 9);
}
select {
  color: #9c9c9c;
  font-style: italic;
}
.select-definitivo {
  color: black;
  font-style: normal;
}
.select-definitivo.modify-contact {
  padding-left: 3.02rem;
}
select option[value="none"] {
  color: #9c9c9c;
  font-style: italic;
}
select option {
  color: black;
}
.primary-button {
  background-color: #0462ba;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  height: 4.2rem;
  width: 23rem;
  cursor: pointer;
  color: white;
}
select:disabled,
input:disabled {
  background-color: #e5e5e5;
  color: rgb(156, 156, 156);
}
input:disabled::placeholder {
  color: #9c9c9c;
}

/*ESTILO GENERAL PARA ALINEAR*/
.central-column {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/*SECCION CONTACTOS*/
#div-contactos {
  display: none;
  margin: 4rem auto;
  width: 97%;
}
#h1-contactos {
  font-size: 2rem;
  margin-bottom: 2rem;
}
#input-contactos {
  width: 50rem;
  height: 4.1rem;
}
#button-contactos {
  background-color: white;
  border: 0.1rem solid rgba(0, 0, 0, 0.25);
  border-radius: 0.35rem;
  color: #1d72c1;
  cursor: pointer;
  height: 4.1rem;
  font-size: 1.75rem;
  margin-left: 0.9rem;
  width: 4.1rem;
}
#no-results {
  display: none;
  text-align: center;
}
#no-results h2 {
  margin-top: 7.3rem;
}
#div-superior {
  display: flex;
  justify-content: space-between;
}
#export-add {
  display: flex;
}
#button-export {
  background-color: white;
  border: 0.1rem solid #1d72c1;
  border-radius: 0.35rem;
  color: #1d72c1;
  cursor: pointer;
  font-size: 1.6rem;
  height: 4.1rem;
  margin-right: 0.9rem;
  width: 4.1rem;
}
.secondary-button {
  align-items: center;
  background-color: white;
  border: 0.1rem solid #1d72c1;
  border-radius: 0.5rem;
  color: #1d72c1;
  cursor: pointer;
  display: flex;
  font-size: 1.7rem;
  height: 4.2rem;
  justify-content: center;
  margin-right: 0.9rem;
  width: 23rem;
}
.fa-sort-down {
  position: relative;
  bottom: 0.4rem;
  margin-left: 1rem;
}
.div-canal {
  align-items: center;
  background-color: #e6f2fe;
  border-radius: 4px;
  color: #44a2fa;
  display: flex;
  height: 2.4rem;
  font-size: 1rem;
  justify-content: center;
  margin-right: 0.4rem;
  width: 6.4rem;
}
.seleccionado {
  background-color: #0683f9;
  color: white;
}
.div-imagen {
  align-items: center;
  border-radius: 1.2rem;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  font-size: 1rem;
  height: 2.4rem;
  justify-content: center;
  margin-right: 0.86rem;
  width: 2.4rem;
}
progress::-webkit-progress-bar {
  background: #dddddd;
  border-radius: 4rem;
  height: 0.8rem;
  margin-left: 1.55rem;
  position: relative;
  top: 0.3rem;
  width: 10.91rem;
}
progress::-webkit-progress-value {
  background-color: #de0028;
  border-radius: 4rem;
}
progress[value="75"]::-webkit-progress-value {
  background-color: #ff6f00;
  border-radius: 4rem;
}
progress[value="50"]::-webkit-progress-value {
  background-color: #ffc700;
  border-radius: 4rem;
}
progress[value="25"]::-webkit-progress-value {
  background-color: #1cc1f5;
  border-radius: 4rem;
}
progress[value="0"] {
  margin-left: 0.8rem;
}
#div-paginado {
  display: flex;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  justify-content: space-between;
}
#div-filas-pagina,
#div-numero-pagina {
  display: flex;
}
#div-filas-pagina select {
  height: 1.2rem;
  margin-left: 1.52rem;
  bottom: 0.1rem;
  border: none;
  font-style: unset;
  font-weight: 400;
  height: 2.2rem;
  padding: unset;
  position: relative;
  width: 3.8rem;
}
#div-cambio-pagina {
  margin-left: 4.86rem;
  font-size: 1.6rem;
}
.fa-chevron-left {
  margin-right: 3.72rem;
}
.fa-chevron-right {
  margin-right: 1rem;
}
.fila-elegida {
  background-color: #e6f3fe;
}
#div-select-delete {
  display: none;
  justify-content: space-between;
  margin-bottom: 0.45rem;
  margin-top: 4.9rem;
}
#div-count {
  align-items: center;
  background-color: #e6f2fe;
  border-radius: 0.4rem;
  color: #0683f9;
  display: flex;
  height: 2.4rem;
  justify-content: center;
  font-size: 1rem;
  width: 9.5rem;
}
#div-delete {
  color: #0683f9;
  cursor: pointer;
  display: flex;
  font-size: 1.4rem;
  width: fit-content;
}
#div-delete p {
  margin-left: 0.97rem;
}
#div-delete i {
  position: relative;
  top: 0.3rem;
}
#div-delete i:hover {
  font-size: 1.4rem;
  color: #0683f9;
}
#div-inferior {
  position: relative;
}
.fila-contacto:hover {
  background-color: #f2f2f2;
}
.fila-contacto.fila-elegida:hover {
  background-color: #e6f3fe;
}

/*INPUT CHECKBOX CUSTOM*/
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: 0.1rem solid #7f7f7f;
  border-radius: 0.3rem;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #0462ba;
  border: none;
  border-radius: 0.3rem;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0px 3px 3px 0px;
  -webkit-transform: rotate(38deg);
  -ms-transform: rotate(38deg);
  transform: rotate(38deg);
}

/*SECCIÓN USUARIOS*/
#usuarios {
  display: none;
}
#boton-usuario {
  display: block;
  margin-left: auto;
}

/*TABLAS*/
.tabla {
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 1.35rem;
  margin: 5rem auto 5rem auto;
}
#tabla-usuarios {
  margin-top: 2.5rem;
}
#tabla-contactos {
  display: flex;
  flex-direction: column;
  margin-top: 7.3rem;
  margin-bottom: 2.38rem;
}
tr {
  display: flex;
}
th,
td {
  display: flex;
  height: 6.75rem;
  justify-content: start;
  padding: 3.43rem 0 2.11rem 1.67rem;
  width: 18.6rem;
}
th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
td {
  align-items: center;
  height: 5.6rem;
  padding-top: unset;
  padding-bottom: unset;
}
th.acciones,
td.acciones {
  display: flex;
  justify-content: center;
  padding-left: unset;
  width: 8.2rem;
}
.dots {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.sort {
  width: 1.93rem;
  height: 1.2rem;
  margin-left: 0.2rem;
  cursor: pointer;
  position: relative;
  top: 0.2rem;
}
.check-table {
  width: 5.4rem;
}
.check-table input {
  height: 1.5rem;
  width: 1.5rem;
}
.th-contacto,
.td-contacto {
  width: 25rem;
}
.td-canal-preferido {
  display: flex;
  flex-wrap: wrap;
}

/*MODIFICAR y BORRAR USUARIOS*/
.fa-pen {
  margin-right: 1.2rem;
  color: #1d72c1;
  cursor: pointer;
}
.fa-pen.contacto {
  margin-right: unset;
}
.fa-pen:hover {
  color: #ffc700;
  font-size: 2rem;
}
.fa-trash {
  color: #1d72c1;
  cursor: pointer;
}
.fa-trash:hover {
  font-size: 2rem;
  color: #f03738;
}

/*MODALES*/
.modal-bg {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
  z-index: 10;
}
.modal-bg-modify {
  align-items: unset;
}
.modal {
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  margin-bottom: 6rem;
  padding: 1.5rem;
}
#modal-crud {
  display: none;
}
#modal-modify-user {
  display: none;
  height: 35rem;
  padding: 3.5rem 3.5rem 2rem 3.5rem;
}
#modal-modify-company {
  display: none;
  margin-bottom: unset;
  width: 30rem;
}
.h2-modify {
  margin-bottom: 1.2rem;
}
.succes {
  display: flex;
  font-size: 1.3rem;
  flex-direction: row;
  height: 8rem;
  opacity: 0;
  position: absolute;
  transition: visibility 0s, opacity 0.5s;
  visibility: hidden;
  width: 30rem;
}
.bg-activate {
  visibility: visible;
  opacity: 1;
}
.fa-check-square,
.fa-times-circle {
  font-size: 2.2rem;
  color: green;
  margin-top: 0.3rem;
  margin-left: 1rem;
}
.fa-times-circle {
  color: #f03738;
  margin-top: unset;
}
.buttons {
  margin-top: 2rem;
}
.buttons-modify,
.buttons-add {
  margin-top: 2rem;
}
.cerrar,
.cerrar-modify {
  background-color: #5a6268;
  font-size: 1.5rem;
  height: 3.2rem;
  margin-right: 1rem;
  width: 12rem;
}
.cerrar:hover,
.cerrar-modify:hover {
  background-color: white;
  border: 0.3rem #5a6268 solid;
  color: #5a6268;
}
.eliminar,
.modificar,
.agregar {
  font-size: 1.5rem;
  height: 3.2rem;
  width: 12rem;
}
.eliminar:hover,
.modificar:hover,
.agregar:hover {
  background-color: white;
  border: 0.3rem #0683f9 solid;
  color: #0683f9;
}
.modificar,
.cerrar-modify {
  width: 11rem;
}
#div-input {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.div-cities,
.div-countries {
  display: flex;
}
.input-add {
  border-radius: 0.3rem;
  border: 0.2rem black solid;
  height: 3rem;
  margin-top: 1.2rem;
  padding: 1rem;
}
.input-add.city {
  margin-left: 2rem;
}
.input-add.city.remove-margin {
  margin-left: unset;
}
.small-add {
  margin-bottom: unset;
}
.buttons-add-invalid {
  margin-top: 1rem;
}
.h2-name {
  margin-top: 1rem;
  font-size: 1.7rem;
  font-style: italic;
}

/*MODAL CONTACTO*/
#nuevo-contacto {
  align-items: unset;
  display: none;
  border-radius: unset;
  height: fit-content;
  justify-content: unset;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: unset;
  position: relative;
  width: 121.5rem;
}
#header-contacto {
  background-color: #0462ba;
  border: 0.1rem solid blue;
  color: white;
  display: flex;
  font-size: 1.2rem;
  height: 14rem;
  justify-content: space-between;
  padding: 2.67rem 3.18rem;
}
#header-contacto i {
  cursor: pointer;
  font-size: 1.8rem;
}
#datos-principales {
  align-items: center;
  background-color: white;
  border: 0.3rem solid #0683f9;
  border-radius: 0.65rem;
  display: flex;
  height: fit-content;
  justify-content: center;
  left: 2.2rem;
  position: absolute;
  top: 7.5rem;
  width: 96.4%;
}
#subir-imagen {
  display: flex;
  margin: 2.35rem 3.3rem 2.35rem 2.35rem;
  position: relative;
}
#imagen-contacto {
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 0.2rem solid #0683f9;
  border-radius: 50%;
  color: #0683f9;
  display: flex;
  font-size: 3.5rem;
  height: 8.5rem;
  justify-content: center;
  width: 8.5rem;
}
#upload-imagen {
  align-items: center;
  background-color: #0683f9;
  border: 0.3rem solid #ffffff;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  height: 2.5rem;
  justify-content: center;
  left: 6.3rem;
  position: absolute;
  top: 6rem;
  width: 2.5rem;
}
.div-input-contacto {
  display: flex;
  flex-direction: column;
  position: relative;
}
.div-input-contacto label {
  font-size: 1.2rem;
  margin-bottom: 1.06rem;
}
.div-input-contacto label::after {
  content: "*";
  color: red;
}
.div-input-contacto.cuenta small {
  margin-bottom: unset;
}
.input-contacto {
  margin-right: 1.4rem;
  padding-left: 0.92rem;
  width: 19rem;
}
.input-contacto::placeholder {
  font-size: 1.2rem;
}
#input-file {
  cursor: pointer;
  height: 2rem;
  opacity: 0;
  position: absolute;
  width: 2rem;
  z-index: 10;
}
#secundarios-superior {
  display: flex;
  justify-content: center;
  margin-top: 10.38rem;
}
.div-input-contacto.superior {
  margin-top: 2.1rem;
}
.small-contacto {
  height: 1.7rem;
  margin-bottom: unset;
}
#secundarios-superior .div-input-contacto select,
#secundarios-superior .div-input-contacto input,
.canal input,
.canal select {
  font-style: italic;
  margin-right: 1.6rem;
  padding-left: 0.86rem;
  width: 19rem;
}
#secundarios-superior .div-input-contacto label::after,
#secundarios-inferior .div-input-contacto label::after {
  content: "";
}
#secundarios-inferior {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 4.34rem 0rem 7.75rem 0rem;
}
.canal {
  display: flex;
  margin-right: 29.4rem;
}
.canal.crud {
  margin-top: 2rem;
  margin-right: 12rem;
}
.button-canal {
  align-items: center;
  background-color: white;
  border: 0.1rem solid rgba(0, 0, 0, 0.25);
  border-radius: 0.15rem;
  color: #9c9c9c;
  display: flex;
  height: 3.4rem;
  justify-content: center;
  margin-top: 2.85rem;
  width: 14.3rem;
}
.button-canal.modify,
.button-canal.delete {
  cursor: pointer;
  margin-right: 1.6rem;
  margin-top: 0.15rem;
}
.button-canal.modify {
  background-color: white;
  border-color: #0462ba;
  color: #0462ba;
}
.button-canal.modify:hover,
.button-canal.modify:hover i {
  background-color: #0462ba;
  color: white;
}
.button-canal.modify i {
  color: #0462ba;
}
.button-canal.delete:hover {
  background-color: #e1193d;
  border-color: #e1193d;
  color: white;
}
.button-canal.delete:hover i {
  color: white;
}
.button-canal.boton-activado {
  background-color: #0462ba;
  border: none;
  color: white;
  cursor: pointer;
}
.button-canal.boton-activado i {
  color: white;
}
.button-canal i {
  color: #9c9c9c;
  cursor: unset;
  font-size: 1.4rem;
  margin-left: unset;
  margin-right: 0.5rem;
}
.button-canal i:hover {
  color: inherit;
  font-size: 1.4rem;
}
.agregar-canal {
  display: flex;
}
#preferencias-contacto.preferencias-activado {
  padding-left: 3.02rem;
}
.fa-heart,
.fa-ban {
  font-size: 1.5rem;
  bottom: 3.1rem;
  color: #e1193d;
  left: 1.3rem;
  position: absolute;
}
.icon-modify {
  top: 1rem;
  color: grey;
}
.icon-modify-active {
  top: 1rem;
  color: #e1193d;
}
#botones-guardar {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  margin-right: 3rem;
  margin-bottom: 3rem;
}
#guardar-cancelar {
  align-items: center;
  display: flex;
  justify-content: center;
}
#cancelar {
  color: rgba(0, 0, 0, 0.25);
  font-size: 1.5rem;
  margin-right: 2.11rem;
}
#cancelar.cancelar-activado {
  color: #e1193d;
  cursor: pointer;
}
.primary-button.guardar {
  background: rgba(0, 0, 0, 0.25);
  color: white;
  cursor: unset;
  font-size: 1.5rem;
  font-weight: 700;
  width: 17.3rem;
}
.primary-button.guardar.guardar-activado {
  background-color: #2c902c;
  color: white;
  cursor: pointer;
}

/*MODAL ELIMINAR CONTACTO*/
#eliminar-contacto {
  align-items: center;
  border-radius: unset;
  display: none;
  flex-direction: column;
  height: 30.3rem;
  justify-content: center;
  margin-bottom: unset;
  width: 33.9rem;
}
#icons-eliminar {
  position: relative;
}
.fa-user.eliminar {
  font-size: 8.5rem;
  height: unset;
  width: unset;
}
.fa-user.eliminar:hover {
  border: unset;
  color: unset;
}
.fa-times-circle.eliminar {
  background-color: white;
  font-size: 4.13rem;
  height: unset;
  margin-left: unset;
  position: absolute;
  top: 6rem;
  right: 1.5rem;
  width: unset;
}
.fa-times-circle.eliminar:hover {
  border: unset;
  color: red;
}
#p-delete {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 5.38rem;
  margin-bottom: 4.28rem;
  text-align: center;
}
.button-delete {
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1.5rem;
  height: 4.1rem;
  width: 13rem;
}
#cancel-delete {
  background-color: white;
  border: 0.1rem solid #0683f9;
  color: #0683f9;
  margin-right: 2.45rem;
}
#cancel-delete:hover {
  background-color: #0683f9;
  color: white;
}
#confirm-delete {
  background-color: #f03738;
  color: white;
}
#confirm-delete:hover {
  background-color: white;
  border: 0.1rem solid #f03738;
  color: #f03738;
}

/*BARRA INTERÉS*/
#barra-interes,
.barra,
#selector-barra {
  border: 0.1rem solid #c6cacc;
  border-radius: 0.35rem;
  height: 1.4rem;
  margin-top: 1.24rem;
  position: relative;
  width: 23.5rem;
  z-index: 4;
}
#selector-barra {
  background-color: white;
  border-radius: 50%;
  bottom: -0.4rem;
  height: 1.9rem;
  left: -0.2rem;
  position: absolute;
  width: 1.9rem;
  z-index: 5;
}
.cuarto-barra {
  transform: translateX(5.5rem);
}
.mitad-barra {
  transform: translateX(11rem);
}
.tres-cuartos-barra {
  transform: translateX(16.5rem);
}
.barra-completa {
  transform: translateX(22rem);
}
.barra {
  border-left: unset;
  border-top: unset;
  border-bottom: unset;
  border-radius: unset;
  height: 1.2rem;
  position: absolute;
  bottom: 0;
}
#cero {
  border: unset;
  height: 1.3rem;
  width: 1rem;
  z-index: 5;
}
#cuarto {
  width: 25%;
  z-index: 3;
}
.cuarto {
  background-color: #1cc1f5;
}
#mitad {
  width: 50%;
  z-index: 2;
}
.mitad {
  background-color: #ffc700;
}
#tres-cuartos {
  width: 75%;
  z-index: 1;
}
.tres-cuartos {
  background-color: #ff6f00;
}
.completa {
  background-color: #de0028;
}

/*ÁRBOL DE REGIONES*/
#regiones {
  display: none;
}
#div-regiones {
  display: block;
  margin: 5rem auto;
  width: 51rem;
}
/* Remove default bullets */
ul,
#arbol-regiones {
  display: none;
  font-size: 1.5rem;
  list-style-type: none;
  margin: 2rem 0rem 0rem 0rem;
}
#arbol-regiones {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  padding: 2.5rem;
}
#boton-region {
  margin-left: 28rem;
}
/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}
/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}
/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}
/* Hide the nested list */
.nested {
  display: none;
  flex: 0 0 100%;
}
/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}
li {
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.region {
  font-weight: 700;
}
.pais {
  margin-left: 5rem;
  width: 40.8rem;
}
.ciudad {
  font-style: italic;
  margin-left: 5rem;
  user-select: none; /* Prevent text selection */
  width: 35.8rem;
}
li:last-child {
  margin-bottom: unset;
}
.fa-plus {
  color: #0462ba;
  cursor: pointer;
  margin-left: 1.2rem;
}
.fa-plus.canal-icon {
  margin-right: 0.5rem;
}
.fa-plus.city,
.fa-trash.city {
  margin-left: 1rem;
  margin-top: 2rem;
  font-size: 1.5rem;
}
.fa-plus:hover {
  font-size: 2rem;
  color: green;
}
.fa-plus.city:hover {
  font-size: 1.5rem;
}

/*SECCIÓN COMPAÑIAS*/
#companias {
  display: none;
}
#div-companias,
#div-usuarios {
  display: block;
  margin: 5rem auto;
  position: relative;
  width: fit-content;
}
#div-companias {
  width: 88.3%;
}
#tabla-companias {
  display: none;
  flex-direction: column;
  margin-top: 2rem;
}
#boton-compania {
  display: block;
  margin-left: auto;
}
th.fila {
  font-weight: unset;
}
.td-region-pais {
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.region-p,
.email-p.contactos {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
}
#div-nueva-compania {
  display: none;
}

/*LENGHT 0 DE COMPAÑIAS, CONTACTOS Y REGIONES*/

.lenght-zero {
  border: 0.2rem solid #0683f9;
  border-radius: 0.3rem;
  display: none;
  margin: 4rem auto;
  padding: 1rem;
  text-align: center;
  width: 51rem;
}
